.column{
    float: left;
    padding: 0.5em;
}

input, select, button, textarea {
    margin: 5px;
}

#ember295{
    margin-left: 25px;
    float:left;
}

 img{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
 }