<h1>Interfaz de sesión de usuario</h1>
{{#link-to 'sesion.usuario.modificar-perfil' model tagName='button'}}Modificar Perfil{{/link-to}}
<button {{action 'cerrarSesion'}}>Cerrar Sesion</button>


{{outlet}}
